
body {
    font-family: "Source Code Pro", monospace;
    display: flex;
    flex-direction: column; 
}
.light .body{
    background-color: white;
}
.dark .body{
    background-color: black;
}
.topnav{
    position: fixed;
    width: 100%;
    height:auto;
    top: 1%;
    z-index: 2; /*z-index used to make navbar appear on top of other elements example: on top of bg of register page*/
    font-size: small;
    background-color: transparent;
}
.ulc {
    display: flex;
    list-style: none;
    align-items: center; 
    justify-content: space-between;
  } 
  .ulc li:last-child{
    margin-right: 4%;
  } 
.ulc a {
    font-size: 17px;
    text-decoration: none;
}
.light .ulc a{
    color: blueviolet;
}
.dark .ulc a{
    color: white
}
.ulc a:hover {
    color: white;
    padding: 14px 24px;
}
.dark .ulc a:hover{
    background-color: darkorchid;
}
.light .ulc a:hover{
    background-color: blueviolet;
}
.dark .ulc a:active{
    background-color: darkorchid;
    color: white;
}
.light .ulc a:active{
    background-color: blueviolet;
    color: black;
}
.ulc img {
    width: 50px;
    height: auto;
}  
.container2 {
    height: 40%;
    width: 38%;
    border-radius: 2%; 
    display: flex;
    flex-direction: column;
    padding: 45px;
    margin: 11% 0 0 5%;
}
.container2 text{
    font-size:small;
    color:whitesmoke;
    text-decoration: left;
}
.light .container2{
    background-color: blueviolet;
    color: white;
    border: 1px solid black; 
}
.dark .container2{
    background-color: darkorchid;
    color: white;
    border: 1px solid darkorchid;
}
.container3 {
    display: flex;
}
.container3 form {
    margin-top: 1.5%; 
}
.container3 input {
    display: inline-block;
    margin-bottom: 20%;
    width: 100%;
    height: 50%;
    background-color: white;
    padding: 5% 5% 5% 5%;
}
.container4{
    height: 60%;
    width: 32%;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    padding: 3% 3% 3% 3%;
    margin: 11% 0 5% 5%;
}
.container4 img {
    width: 95%;
    height: 80%;
    background-size: cover;
    object-fit: contain;
    border-radius: 5%;
    margin: 6% 0 2% 166%;
    transform:translate(-40.57rem);
}
.dark .container4{
    background-color: transparent;
    color: white;
    border: 1px solid silver; 
}
.light .container4{
    background-color: transparent;
    color: black;
    border: 1px solid black; 
}
.profile-container {
    position: relative; 
}