.topnav{
    position: fixed;
    width: 100%;
    height:auto;
    top: 1%;
    z-index: 2; 
    font-size: small;
    background-color: transparent;
    overflow: hidden;
}
.topnav.responsive_nav {
    flex-direction: column;
    display: none;
}
.ulc {
    display: flex;
    list-style: none;
    align-items: center; 
    justify-content: space-between;
    flex-direction: row;
} 
.ulc.responsive{
    position: fixed;
    top: 20px;
    gap: 20px;
    height: 60%;
    margin-left: 10px;
    width: 50%;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.light .ulc.responsive{
    color: blueviolet;
    background-color: white;
    border: 1px solid black;
}
.dark .ulc.responsive{
    color: white;
    background-color: black;
    border: 1px solid silver;
}
.ulc li:last-child{
margin-right: 4%;
} 
.ulc a {
    font-size: 17px;
    text-decoration: none;
}
.light .ulc a{
    color: blueviolet;
}
.dark .ulc a{
    color: white
}
.ulc a:hover {
    color: white;
    padding: 14px 24px;
}
.dark .ulc a:hover{
    background-color: darkorchid;
}
.light .ulc a:hover{
    background-color: blueviolet;
}
.dark .ulc a:active{
    background-color: darkorchid;
    color: white;
}
.light .ulc a:active{
    background-color: blueviolet;
    color: black;
}
.ulc img {
    width: 50px;
    height: auto;
}  
.nav-btn {
    padding: 10px;
    margin-left: 20px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    width: 30px;
    height: 30px;
}
.nav-btn span {
    width: 100%;
    height: 2px;
    background-color: blueviolet;
}
.dark .nav-btn span {
    background-color: white;
}
.crossClass{
    display: none;
    visibility: hidden;
}
@media screen and (max-width: 480px) {
    .nav-btn{
        display:block;
        visibility: visible;
    }
    .ulc {
        display: none; 
    }
    .topnav{
        visibility: hidden;
    }
    .topnav.responsive_nav{
        display: flex;
        visibility: visible;
    }
    .ulc.responsive{
        display: flex;
        visibility: visible;
    }
    .crossClass{
        display: flex;
        visibility: visible;
    }
  }